<section class="container-fluid mt-4 mb-3">
    <div class="container d-flex">
        <div class="filter me-5">
            <button type="button" class="btn btn-outline-secondary btn-sm mb-24"><i
                    class="fa-solid fa-filter me-1"></i>Bộ
                lọc</button>
        </div>
        <select class="form-select w-25 form-select-sm width-option" aria-label="Default select example">
            <option selected>Mặc định</option>
            <option value="1">Từ A-Z</option>
            <option value="2">Từ Z-A</option>
            <option value="3">Từ thấp đến cao</option>
            <option value="4">Từ cao đến thấp</option>
        </select>
    </div>
</section>
<div class="container">
    <a href="#" class="text-decoration-none">
        <h5 class="text-uppercase mb-3">Tour miền tây</h5>
    </a>
    <div class="row">
        <div class="col-lg-4 mb-4 col-md-6 col-sm-12"
            ng-repeat="p in products | filter: keySearch | limitTo: itemsPerPage :(currentPage -1) * itemsPerPage  | orderBy : sort">
            <div class="card">
                <a href="#!chiTiet/{{p.id}}" class="box-img"><img src="{{p.img}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#!chiTiet/{{p.id}}" class="text-decoration-none cart-title">
                        <h5 class="card-title text-uppercase">{{p.tilte}}</h5>
                    </a>
                    <p class="card-text text-center">Giá gốc: <span class="fw-semibold">{{p.price|number}} VND</span>
                    </p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary text-uppercase" ng-click="addCart(p)">
                            <a href="#!cart" class="text-white text-decoration-none">Đặt tour</a></button>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <p class="mb-0"><i class="fa-solid fa-users me-2"></i>Đặt và quan tâm</p>
                    <p class="mb-0"><i class="bi bi-eye me-1"></i>{{p.eye}}</p>
                    <p class="mb-0"><i class="fa-regular fa-comment me-1"></i>{{p.cmt}}</p>
                    <p class="mb-0"><i class="bi bi-bag-plus me-1"></i>{{p.cart}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mb-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" ng-click="setPage(1)">Đầu tiên</a>
            </li>
            <li class="page-item" ng-repeat="page in getPages()" ng-class="{ active: currentPage === page }">
                <a class="page-link" ng-click="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-click="setPage(totalPages)">Cuối cùng</a>
            </li>
        </ul>
    </nav>
</div>
