.header-items img {
    max-width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.header-contact {
    overflow: hidden;
}

.header-contact>li>a {
    color: aliceblue;
}

.header-contact>li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    color: aliceblue;
}

.header-contact>li>a:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.img-logo {
    max-width: 120px;
}

.box-img {
    overflow: hidden;
}

.box-img-hover {
    transition: 0.5s;
}

.box-img-hover:hover {
    transform: scale(1.2) rotate(2deg);

}

@media (max-width: 812px) {
    .header-phone {
        margin-right: 20px;
    }

    .btn-header-contact {
        display: none;
    }
}

@media (max-width: 768px) {
    .img-logo {
        display: none;
    }

    .mb-24 {
        margin-bottom: 24px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}