:root {
    --color-blog: #2195c3;
}

body {
    background-color: rgba(0, 0, 0, 0.005);
}

.header-items img {
    max-width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.header-contact {
    overflow: hidden;
}

.header-contact>li>a {
    color: aliceblue;
}

.header-contact>li>a:hover {
    background: rgb(202 201 201 / 40%);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    color: aliceblue;
}

.header-contact>li>a:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.header-nav-menu a:hover {
    background: rgb(202 201 201 / 40%);
}



.box-img {
    overflow: hidden;
}

.box-img img {
    transition: 1s;
}

.box-img:hover img {
    transform: scale(1.2) rotate(3deg);
}

.tour--item:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 0.55s;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* Số dòng muốn hiển thị */
    max-height: 5em;
    /* Chiều cao tối đa của 2 dòng */
    text-align: justify;
}

.blog-title:hover {
    transition: 0.25s;
    color: var(--color-blog) !important;
}

.color-footer a {
    color: rgb(50, 47, 47);
    font-size: 14px;
}

.color-footer a:hover {
    color: rgb(206, 85, 85);
}

.fixed-header {
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #fff !important;
    z-index: 1000;
    transition: 0.25s;
}
.fixed-header ul{
    background-color: #fff !important;
}
.fixed-header a{
    color: #000 !important;
}
@media (width: 1024px) {

    .flexcolumn {
        flex-direction: row;
    }

    .container-hotline, .img-none {
        display: none;
    }
}

@media (max-width: 812px) {
    .header-phone {
        margin-right: 20px;
    }

    .btn-header-contact {
        display: none;
    }

    .flexcolumn {
        flex-direction: column;
    }

    .container-hotline, .img-logo {
        display: none;
    }
}


@media (max-width: 768px) {
    .img-logo {
        display: none;
    }

    .mb-24 {
        margin-bottom: 24px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}