.header-items img {
    max-width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.header-contact {
    overflow: hidden;
}
.header-contact >li>a{
    color: aliceblue;
}
.header-contact>li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    color: aliceblue;
}

.header-contact>li>a:active {
    background-color: rgba(0, 0, 0, 0.2);
}