/* Reset css */

* {
    padding: 0;
    margin: 0;
}

html {
    /* trick */
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    /* font-family: Helvetica, Arial, sans-serif; */
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header__img--logo {
    width: 50px;
    object-fit: cover;

}

.header__icons>a>i {
    transition: 0.3s;
}

.header__icons a:hover i.text-white {
    color: #d02908 !important;
    opacity: 0.8;
}

.background-nav {
    padding-top: 66px;
    padding-bottom: 16px;
    background-color: #c2d0de;
}

.nav__hover {
    transition: 0.5s;
}

.nav__hover a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: red !important;
}

.background-nav li {
    font-size: 1.4rem;
}

.nav__hover--overflow {
    overflow: hidden;
}

.dropdown-item__margin {
    margin-right: 5px;
}

.slider__img--maxheight img {
    max-height: 620px;
}

.background-content {
    background-color: #c2d0de;
    font-size: 1.4rem;
}

.tab-item {
    overflow: hidden;
}

.tab-item a {
    font-size: 1.4rem;
    color: black;
}

.tab-item a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: red;
}

.card-text {
    font-size: 1.2rem;
}

.about-list {
    max-width: 400px;
}

.about-btn {
    font-size: 1.4rem;
    color: black;
}

.about-text,
.about-item {
    font-size: 1.4rem;
}

.about-item {
    margin-left: 10px;
    cursor: pointer;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title--text {
    font-size: 1.4rem;
}

.card-text--text {
    font-size: 1.3rem;
    height: 90px;
    /* Đặt chiều cao mặc định */
}

.card-star {
    color: rgb(249, 249, 69);
}

.boximg {
    overflow: hidden;
    position: relative;
}

.bogimg img {
    width: 300px;
    height: 300px;
}


.card-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    padding: 10px;
    color: white;
    background-color: #d02908;
    border-radius: 2px;
}

.card-img__hover {
    opacity: 1;
    transition: linear 0.3s;
}

.card-img__hover:hover {
    opacity: 0.8;
    transform: scale(1.3) rotate(2deg);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .nav__hover a:hover {
        transform: scale(0.95);
        transition: transform 0.3s ease-in-out 0s;
        /* Áp dụng transition cho màu chữ */
        color: red !important;
        /* Đặt màu chữ khi hover */
    }
}