<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài 4</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" class="container h-100 d-flex justify-content-center align-items-center">
        <form ng-controller="calc" class="w-50">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nhập chiều dài</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="lenght"
                    ng-model="lenght">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nhập chiều rộng</label>
                <input type="number" class="form-control" id="width" ng-model="width">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                    Chu vi
                </label>
                <label class="form-control" id="exampleInputEmail1" disabled ng-bind="chuVi"></label>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Diện tích</label>
                <label class="form-control" id="DienTich" disabled ng-bind="dienTich"></label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="calculate()">Tính</button>
        </form>
    </div>
    <script src="/assets/js/Bai_4.js"></script>
    <script src="/assets/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>